 <!DOCTYPE html>
 <html>
     <head>
         <link rel="stylesheet" href="/css/style.css">
           <link rel="icon" href="/img/download.png"
        </head>
        <title>About</title>
        <body>
             <div class="main-content">
                {{>header}}
                 <img class="portrait" src="\img\Monika_Anshu_GT131_Pic.jpg" >
             </div>
            
             <p>{{>footer}}</p>
         </body>
     
 </html>     